.span1{
    float:left;
    margin-right: 30px;
}
.span2{
    float:left;
}
.clear{
    clear: both;
}
.blue{
	border:1px solid black;
	background: #00BBFF;
}
.blue input{
	background: #00BBFF;
	border:1px solid black;
}
.notcontact{
	background: #CC6600;
}
.contact{
	background: #00AA00;
}
.size1{
	color: black;
	padding:10px 20px;
}
.size2{
	color: black;
	padding:10px 7px;
}
.size3{
	color: black;
	padding:10px 14px;
}
.size4{
	color: black;
	padding:14px 75px;
}
.objection{
	background: #EEEE00
}
.selected{
	background-image: url(./images/selected.png); 
	background-size:30px;
	background-repeat:no-repeat;
	background-position:center;
}
.height1{
	height: 50px;
}
.width1{
	width: 200px;
}