.span1{
    float:left;
    margin-right: 30px;
}
.span2{
    float:left;
}
.clear{
    clear: both;
}
.blue{
	border:1px solid black;
	background: #00BBFF;
}
.blue input{
	background: #00BBFF;
	border:1px solid black;
}
.notcontact{
	background: #C63300;
}
.contact{
	background: #00ff00;
}